@import "tailwindcss";
@tailwind utilities;

:root {
  --color-primary: #1CD9A9 !important;
  --secondary: #0F5C4A !important;
  --color-grey: #1E1E1E !important;
  --neutral: #5C5C5C !important;
  --accent: #D91C4A !important;
  --white: #FFFFFF !important;
  --black: #000000 !important;
}


@layer utilities {
  .bg-color-primary {
    background-color: var(--color-primary) !important;
  }

  .bg-secondary-color {
    background-color: var(--secondary) !important;
  }

  .bg-grey {
    background-color: var(--color-grey) !important;
  }

  .bg-color-neutral {
    background-color: var(--neutral) !important;
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-color-primary {
    color: var(--color-primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .text-base {
    color: var(--color-grey);
  }

  .text-neutral {
    color: var(--neutral);
  }

  .text-accent {
    color: var(--accent);
  }

  .dropdown-menu{
    cursor:pointer;
    text-align:center;
  }

  .dropdown-menu:hover {
    background-color: var(--color-primary) !important;
    border-radius: 5px;
  }

  /* globals.css or any imported CSS file */
.gradientCategory-bg {
  background: linear-gradient(to bottom, #5C5C5C 0%, #1E1E1E 100%);
  transition: background 0.5s ease;
}

.gradientCategory-bg:hover {
  background: linear-gradient(to bottom, #1CD9A9 0%, #1E1E1E 100%);
}

.exclusive-box {
  background: linear-gradient(to bottom right, #16a34a, #10b981); /* from-green-600 to-emerald-500 */
  border-radius: 0.75rem; /* rounded-xl */
  padding: 1rem 0.5rem;    /* py-4 px-2 */
}

}