@import "tailwindcss";
@tailwind utilities;

:root {
  --color-primary: #1CD9A9 !important;
  --color-secondary: #0F5C4A !important;
  --color-grey: #1E1E1E !important;
  --neutral: #5C5C5C !important;
  --accent: #D91C4A !important;
  --white: #FFFFFF !important;
  --black: #000000 !important;
}


@layer utilities {
  .bg-color-primary {
    background-color: var(--color-primary) !important;
  }

  .bg-secondary-color {
    background-color: var(--color-secondary) !important;
  }

  .bg-grey {
    background-color: var(--color-grey) !important;
  }

  .bg-color-neutral {
    background-color: var(--neutral) !important;
  }

  .bg-accent {
    background-color: var(--accent);
  }

  .text-color-primary {
    color: var(--color-primary) !important;
  }

  .text-secondary-color {
    color: var(--color-secondary) !important;
  }

  .text-grey {
    color: var(--color-grey);
  }

  .text-color-neutral {
    color: var(--neutral) !important; 
  }

  .text-accent {
    color: var(--accent);
  }

  .dropdown-menu{
    cursor:pointer;
    text-align:center;
  }

  .dropdown-menu:hover {
    background-color: var(--color-primary) !important;
    border-radius: 5px;
  }

.gradientCategory-bg {
  background: linear-gradient(to bottom, #5C5C5C 0%, #1E1E1E 100%);
  transition: background 0.5s ease;
}

.gradientCategory-bg:hover {
  background: linear-gradient(to bottom, #1CD9A9 0%, #1E1E1E 100%);
}

.exclusive-box {
  background: linear-gradient(to bottom right, #16a34a, #10b981); 
  border-radius: 0.75rem; 
  padding: 1rem 0.5rem;   
}

button {
  cursor: pointer;
}

.custom-modal-overlay {
position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  z-index: 50;
}

.custom-modal-content {
  background-color: white;
  border-radius:  8px ;
  padding: 24px;
  max-width: 500px;
  margin: 2px;;
  outline: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  
}

}